html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #fff;
}
.github {
  height: 32px;
  border-radius: 6px;
  margin: 16px;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  a {
    color: #fff;
  }
}
.ant-menu-item {
  > a.nav-text {
    color: #fff;
    display: inline-block;
  }
}
